.App {
    // background-color: #292929;
    display: flex;
    flex-direction: row;
    background-color: #0A0607;
}
.landing {
    height: 100vh;
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70vw;
    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
    }

    .menu {
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .widget {
        background-color: #FFF;
        color: #292C32;
        border-radius: 5%;
        width: 80%;
    }

    .widget-compact {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }
  }