.landing {
    height: 100vh;
    color: #FFF;
    background-color: #6165F7;
    display: flex;
    flex-direction: column;
    width: 20%;
    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .menu {
        height: 50%;
    }
  }